* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(105, 141, 248);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  position: absolute;
}

.screen {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vh;
  height: auto;
  top: 100px;
  left: 100px;
  position: relative;
}

.leftside {
  display: flex;
}
.leftside img {
  max-width: 1000px;
}

.rightside {
  width: 400px;
}
